.discreetAnswerRadio {
  opacity: 0;
  position: absolute;

  &:focus+label {
    outline: rgba(77, 97, 171, 0.5) auto 3px;
  }

  +label {
    padding: 10px;
    border: 1px solid blue;
  }

  &:checked+label {
    background: blueviolet;
  }
}