table {
  border-collapse: collapse;
}

th {
  text-align: start;
  border-bottom: thick solid var(--unpub-shaded-border-dark);
}

th.data {
  text-align: center;
  border-left: thin solid var(--unpub-shaded-border-dark);
  border-right: thin solid var(--unpub-shaded-border-dark);
}

tbody.feedbackRow {
  outline: thin solid var(--unpub-shaded-border-dark);

  td.data {
    border-left: thin solid var(--unpub-shaded-border-dark);
    text-align: center;
    --icon-size: 1.8ch;
  }

  &:nth-of-type(2) {
    background-color: var(--unpub-shaded);
  }
}

.comments {
  padding: var(--s-3);

  &__title {
    font-size: 80%;
    text-transform: uppercase;
    color: var(--unpub-light-text);
  }

  &__body {
    padding: var(--s-1);
  }
}