 #label {
   font-size: var(--input-label-font-size, 1rem);
   top: var(--input-padding-top-bottom, 0.5rem);
   transform: translateY(0px);
 }

 .mechanismListPopover {
   border: thin solid black;
   position: absolute;
   left: 0;
   width: 100%;
   max-height: 10rem;
   overflow-y: scroll;
   padding: var(--s0);
   box-sizing: border-box;
   z-index: 9999;
   background-color: white;

   &__category {
     border: thin solid var(--unpub-shaded-border-dark);
     background-color: var(--unpub-shaded-dark);
     padding: var(--s-3);
   }

   &__list {
     box-sizing: border-box;
     padding: var(--s-1);
     --stack-margin: var(--s-3);
   }

   &__item {

     &[data-selected],
     &:hover {
       background-color: var(--unpub-secondary-light);
       cursor: pointer;
     }
   }
 }