{% macro card(post) %}
    <a class="post-card{% if post.featured %}  post-card-featured{% endif %}" href="{{ post.url | url }}">
        <header class="post-card-header">
            {% if post.feature_image %}
                <img class="post-card-image" src="{{ post.feature_image }}" alt="{{ post.title }}" data-lazy>
            {% endif %}
            <div class="post-card-tags">
                {% if post.tags %}{% for tag in post.tags %}{{ tag.name }} {% endfor %}{% endif %}
            </div>
            <h2 class="post-card-title">
                {{ post.title }}
            </h2>
        </header>
        <div class="post-card-excerpt">
            <p>{{ post.excerpt }}</p>
        </div>
        <footer class="post-card-footer">
            <div class="post-card-footer-left">
                <div class="post-card-avatar">
                    <img
                        class="author-profile-image"
                        src="{{ post.primary_author.profile_image }}"
                        alt="{{ post.primary_author.name }}"
                    />
                </div>
                <span>{{ post.primary_author.name }}</span>
            </div>
            <div class="post-card-footer-right">
                <div>{{ post.html | safe | getReadingTime }} min read</div>
            </div>
        </footer>
    </a>
{% endmacro %}
