<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-left">
            {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url | url }}">
                    {{ item.label }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if collections.docs %}
        <div class="site-nav-right">
            {% for doc in collections.docs %}
                <a {% if page.url == doc.url %}aria-current="page"{% endif %} class="site-nav-button{% if doc.featured %}  site-nav-button-featured{% endif %}" href="{{ doc.url | url }}">
                    {{ doc.meta_title if doc.meta_title else doc.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</nav>
