{% if pagination.previousPageHref or pagination.nextPageHref %}
    <nav class="pagination" role="pagination">
        {% if page.permalink != pagination.previousPageHref %}
            <a href="{{ pagination.previousPageHref | url }}">Prev page</a>
        {% else %}
            <span>Prev page</span>
        {% endif %}
        {% if page.permalink != pagination.nextPageHref %}
            <a href="{{ pagination.nextPageHref | url }}">Next page</a>
        {% else %}
            <span>Next page</span>
        {% endif %}
    </nav>
{% endif %}
