.linkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: #284b8d;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 100%;

  text-decoration: none;
}