.with-sidebar-l>* {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.with-sidebar-l>*>* {
  /* ↓ applies to both elements */
  margin: var(--sidebar-gutter, 0.5rem);
}

.sidebar-l {
  flex-basis: 20rem;
  flex-grow: 1;
}

.sidebar-intrinsic-l {
  flex-grow: 1;
}

.not-sidebar-l {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}