.post-feed {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(300px, 100%)) {
  .post-feed {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
}

.post-card {
  min-width: 300px;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &-header {
    display: flex;
    flex-direction: column;
  }

  &-image {
    margin: 0 0 10px 0;
    background: var(--unpub-shaded-dark) no-repeat center center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }

  &-footer-left {
    display: flex;
    align-items: center;
  }

  &-footer-right {
    display: flex;
    flex-direction: column;
  }

  &-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .author-profile-image {
      display: block;
      width: 100%;
      background: var(--color-secondary);
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

.post-full-content img {
  max-width: 100%;
}

.post-full-content figcaption {
  margin: 1em 3em 0;
  font-size: 55%;
  line-height: 1.6em;
  text-align: center;
  font-weight: normal;
}

.post-feature-image img {
  margin: 0 0 3vw;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.content-body figure {
  margin: 0.4em 0 1.6em;
  font-size: 2.8rem;
  font-weight: 700;
}

.content-body pre {
  margin: 0.4em 0 1.8em;
  font-size: 1.6rem;
  line-height: 1.4em;
  white-space: pre-wrap;
  padding: 20px;
  background: #000;
  color: #fff;
  border-radius: 12px;
}