@import '../styles/Stack.css';
@import 'news-styles.scss';

@import '../../node_modules/@shoelace-style/shoelace/dist/themes/light.css';

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  // Theme Colors
  --unpub-shaded: #fafafa;
  --unpub-shaded-border: #e0e0e0;
  --unpub-shaded-border-dark: #909090;
  --unpub-shaded-dark: #aaaaaa;
  --unpub-light-text: #1f1f1f;

  --unpub-primary: #0d47a1;
  --unpub-primary-light: #5472d3;
  --unpub-primary-dark: #002171;

  --unpub-secondary: #d32f2f;
  --unpub-secondary-light: #ff6659;
  --unpub-secondary-dark: #9a0007;

  --unpub-bad-color: red;
  --unpub-good-color: green;
}

sl-button.profileButton::part(base) {
  color:white;
}

sl-icon-button.infoButton::part(base) {
  color: var(--unpub-primary);
}

.sl-toast-stack {
  left: 0;
  right: auto;
}

.content {
  margin: 25px auto;
  max-width: 65rem;
}

nav {
  background-color: var(--unpub-primary);
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    display: flex;
  }

  li {
    list-style-type: none;
    display: inline-flex;
    margin-right: 10px;
    align-self: center;
    color: white;    

    &:hover {
      background-color: var(--unpub-primary-dark);
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }
}

#profileImage {
  width: 35px;
  height: 35px;
}

#profilePopover {
  ul {
    padding-left: 15px;
    padding-right: 15px;
  }

  li,
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    list-style-type: none;
    padding: 4px;

    &:hover {
      background-color: blueviolet;
    }
  }
}

.loginForm__errors {
  color: var(--unpub-bad-color);
}