{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = author.name %}

{% block content %}
    {% include "partials/author-header.njk" %}

    <section class="post-feed">
        {% if author.posts %}
            {% for post in author.posts %}
                {{ card(post) }}
            {% endfor %}
        {% else %}
            <p>No posts to be found</p>
        {% endif %}
    </section>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ author.twitter }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site.url + (page.url | url)  }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ content }}">
    <meta name="twitter:image" content="{{ author.profile_image }}">

    <!--Schema-->
    <link rel="author" href="{{ author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ content }}">
    <meta itemprop="image" content="{{ author.profile_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + (page.url | url)  }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ author.profile_image }}">
    <meta property="og:description" content="{{ content }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
