{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = tag.name %}

{% block content %}
    <header class="tag-header">
        <h1>{{ tag.name }}</h1>
        <p>{{ content | safe }}</p>
    </header>
    <section class="post-feed">
        {% if tag.posts %}
            {% for post in tag.posts %}
                {{ card(post) }}
            {% endfor %}
        {% else %}
            <p>No posts to be found</p>
        {% endif %}
    </section>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + (page.url | url) }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ tag.description }}">
    <meta name="twitter:image" content="{{ tag.feature_image }}">

    <!--Schema-->
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ content }}">
    <meta itemprop="image" content="{{ tag.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + (page.url + url) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ tag.feature_image }}">
    <meta property="og:description" content="{{ content }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
